/*=================BODY===============*/

html body {
    background: #000000;
}

nav {
    display: flex;
    flex-direction: row;
    background: white;
    width: 100%;
    min-height: 120px;
    flex-flow: row;
    justify-content: flex-start;
}

.nav-links li {
    font-size: 1.5em;
    float: left;
    margin-top: 100px;
    padding: 0 25px;
    border-right: 1px solid black;
    font-family: $pixelFont;
    font-weight: $boldWeight;
}

.nav-links {
    flex: 2;
}

.mau5-nav {
    flex-basis: 15%;
}

/*====================HEADER H1 STYLES HERE========================*/

.main-banner {
    margin-top: 100px;
    text-align: center;
    font-family: $pixelFont;
    text-shadow: 10px 10px 10px black;
    font-size: 2.5em;
    color: $offWhite;
    p {
        margin: 20px 0;
        font-size: .5em;
        color: $mainGreen;
        font-weight: $boldWeight;
    }
}

/*===================THREE PART CONTAINER MAIN STYLE HERE =====================*/

.main-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/*======================LEFT SIDEBAR=========================*/

.sidebar {
    margin-left: 10px;
    flex-basis: 25%;
    min-height: 500px;
    order: 1;
    li {
        font-family: $futureFont;
        color: $offWhite;
        padding: 20px 0;
        text-shadow: 10px 10px 10px black;
        font-size: 1.2em;
    }
    img {
        margin-left: 2px;
        margin-right: 5px;
    }
}

/*======================MIDDLE MAIN CONTAINER=================*/

.main {
    flex-basis: 50%;
    min-height: 200px;
    order: 2;
}

#video {
    margin: auto;
    display: block;
    margin-top: 60px;
    border: 5px solid black;
    box-shadow: 5px 5px 20px green;
    border-radius: 20px;
}

/*======================RIGTH SIDEBAR=========================*/

.sidebar2 {
    flex-basis: 30%;
    min-height: 200px;
    background: url(http://afkdeveloper.com/images/mau5-site/mau5-main.png);
    background-repeat: no-repeat;
    background-position: center;
    order: 3;
    h2 {
        font-family: $futureFont;
        line-height: 2.5em;
        text-shadow: 4px 4px 10px black;
        text-align: center;
        color: $mainGreen;
        font-size: 2em;
    }
    form {
        text-align: center;
    }
    #email {
        width: 75%;
        height: 40px;
        font-family: $futureFont;
        background: $offWhite;
        border: 2px solid black;
        box-shadow: 10px 10px 10px black;
        border-radius: 10px;
        font-size: 20px;
    }
    #submit {
        padding: 0 30px;
        font-size: 20px;
        font-family: $futureFont;
        margin-top: 10px;
        border-radius: 40px;
        background: $mainGreen;
        box-shadow: 10px 10px 10px black;
    }
}