/*---------------COLOR VARIABLES--------------------*/

$bgColor: hsl(0, 1%, 15%);
$pinkColor: #B200AD;
$mainGreen: #3BB200;
$lightGreen: #88FF4E;
$offWhite: hsl(0, 0%, 84%);
/*---------------FONT VARIABLES----------------------*/

$pixelFont: 'Press Start 2P',
cursive;
$futureFont: 'Audiowide',
cursive;
$mainFont: 'Josefin Sans',
sans-serif;
$pFont: 'Lato',
sans-serif;
$boldWeight: 700;
$regularWeight: 400;
/*==============GUTTER VARIABLES====================*/

$gutter: 2%;